li {
  width: 13.6%;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.calendar {
  width: 100%;
  justify-content: center;
}

.month-select {
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center
}

.month-select li {
  width: 20%
}

.dates > li {
  height: 120px;
  border: 1px solid black;
  overflow: hidden;
}

.padding {
  background-color: grey;
}

.selected {
  background-color: lightblue;
}

#curr-month {
  width: 60%;
}

.hidden {
  display: none;
}

.event-index-item {
  width: 100%;
}
