ul {
  display: inline-block;
  list-style: none;
  -webkit-appearance: none;
  -webkit-padding-start: 0;
  width: 100%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 13.6%;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.day-headers {
  text-align: center;
  padding: 5px 0px;
}

.calendar {
  width: 100%;
  justify-content: center;
}

.del-icon {
  font-size: 12px;
  position: absolute;
  right: -2px;
  top: -2px;
  height: 12px;
  &:hover { cursor: pointer; }
}

span {
  padding: 0 2px;
}

.month-select {
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
  border: 3px solid blue;
  font-size: 24px;
}

.month-select li {
  width: 20%;
}

.dates > li {
  height: 120px;
  border: 1px solid black;
  overflow: scroll;

}

.padding {
  background-color: grey;
}

.selected {
  background-color: lightblue;
}

.event-form {
  border: 5px solid green;
}

#curr-month {
  width: 60%;
}

.hidden {
  display: none;
}

.event-index-item {
  width: 100%;
  font-size: 12px;
  border: 1px solid red;
  position: relative;
}
